
body{
  font-family: 'Press Start 2P', cursive;
    font-size: 18px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}
#svg-path-input{
  width:700px;
  background: lightgray;
}
#output{
  width: 600px;
}
.container{
  width: 800px;
  margin:0 auto;
}
.svg-container{
    position: relative;
}
.shape-container {
  background: #513B56;
}
.control-panel{
  position: absolute;
  left: 10px;
  top: 10px;
}
.output-item{
  position: absolute;
  bottom: 10px;
  left:10px;
  color: white;
}
.control-panel-item{
  margin-bottom: 5px;
}
.button{
  color:white;
  width: 25px;
  height:30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;

}
.button:hover{
  font-size: 22px;
  height:30px;
}
.std-input{
  width: 300px;
  height:35px;
  font-size: 20px;
  border: none
}
.num-input {
  width: 50px;
}

.item-label {
  width: 80px;
  display: inline-block;
}
#copyButton {
  display: inline-block;
  color: white;
}
#copyButton:hover{
  cursor: pointer;
}
